<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <!-- LOGO -->
    <div class="navbar-brand-box">
        <a href="/index" class="logo logo-dark">
      <span class="logo-sm">
        <img src="/assets/images/tact-logo.png" alt="" height="22">
      </span>
            <span class="logo-lg">
        <img src="/assets/images/tact-logo.png" alt="" height="22">
      </span>
        </a>

        <a href="/index" class="logo logo-light">
      <span class="logo-lg">
        <img src="/assets/images/tact-logo.png" alt="" height="22">
      </span>
            <span class="logo-sm">
        <img src="/assets/images/tact-logo.png" alt="" height="22">
      </span>
        </a>
    </div>

    <button type="button" class="btn btn-sm px-3 font-size-16 header-item vertical-menu-btn">
        <i class="fa fa-fw fa-bars"></i>
    </button>

    <div data-simplebar class="sidebar-menu-scroll">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li>
                    <div class="col-md-12">
                        <select class="form-select">
                            <option>2024</option>
                        </select>
                    </div>
                </li>
                <li class="menu-title" data-key="t-menu">Menu</li>
                <li>
                    <a href="/">
                        <i class="bx bx-layout icon nav-icon"></i>
                        <span class="menu-item" data-key="t-vertical">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/user/management">
                        <i class="bx bx-layout icon nav-icon"></i>
                        <span class="menu-item" data-key="t-vertical">Utilisateurs</span>
                    </a>
                </li>
                <li>
                    <a href="/team/management">
                        <i class="bx bx-layout icon nav-icon"></i>
                        <span class="menu-item" data-key="t-vertical">Equipes</span>
                    </a>
                </li>
                <li>
                    <a href="/sport/management">
                        <i class="bx bx-layout icon nav-icon"></i>
                        <span class="menu-item" data-key="t-vertical">Sports</span>
                    </a>
                </li>
                <li>
                    <a href="/school/management">
                        <i class="bx bx-layout icon nav-icon"></i>
                        <span class="menu-item" data-key="t-vertical">Ecoles</span>
                    </a>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow">
                        <i class="bx bx-layout icon nav-icon"></i>
                        <span class="menu-item" data-key="t-multi-level">Tournois</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="true">
                        <!-- <li><a href="/tournament/football" data-key="t-level-1.1">Football</a>
                        </li>
                        <li><a href="/tournament/basketball" data-key="t-level-1.2">Basketball</a>
                        </li> -->

                        <li><a href="/tournament/management" data-key="t-level-1.3">Gestion de tournois</a></li>

                        <li><a class="has-arrow">Football</a>
                            <ul class="sub-menu" aria-expanded="true">
                                <li><a href="/tournament/Football/Masculin">Masculin</a></li>
                                <li><a href="/tournament/Football/Feminin">Féminin</a></li>
                            </ul>
                        </li>

                        <li><a class="has-arrow">Basketball</a>
                            <ul class="sub-menu" aria-expanded="true">
                                <li><a href="/tournament/Basketball/Masculin">Masculin</a></li>
                                <li><a href="/tournament/Basketball/Feminin">Féminin</a></li>
                            </ul>
                        </li>

                        <li><a class="has-arrow">Basketball</a>
                            <ul class="sub-menu" aria-expanded="true">
                                <li><a href="/tournament/Handball/Masculin">Masculin</a></li>
                                <li><a href="/tournament/Handball/Feminin">Féminin</a></li>
                            </ul>
                        </li>
                                               
                        
                    </ul>
                </li>
                <!-- Multi Level -->

                <li class="menu-title" data-key="t-components"><%= translation.t_components %></li>

            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->
