<header id="page-topbar" class="isvertical-topbar">
  <div class="navbar-header">
    <div class="d-flex">
      <!-- LOGO -->
      <div class="navbar-brand-box">
        <a href="index" class="logo logo-dark">
          <span class="logo-sm">
            <img src="/assets/images/tact-logo.png" alt="" height="22">
          </span>
          <span class="logo-lg">
            <img src="/assets/images/tact-logo.png" alt="" height="22">
          </span>
        </a>

        <a href="index" class="logo logo-light">
          <span class="logo-sm">
            <img src="/assets/images/tact-logo.png" alt="" height="22">
          </span>
          <span class="logo-lg">
            <img src="/assets/images/tact-logo.png" alt="" height="22">
          </span>
        </a>
      </div>
    </div>

    <button type="button" class="btn btn-sm px-3 font-size-16 header-item vertical-menu-btn">
      <i class="fa fa-fw fa-bars"></i>
    </button>

    <div class="d-flex">

      <div class="dropdown d-none d-sm-inline-block">
        <button type="button" class="btn header-item light-dark" id="mode-setting-btn">
          <% if(global.user.role == "Admin") { %>Admin<%} %><% if(global.user.role == "Arbitrator") { %>Arbitre<%} %><% if(global.user.role == "User") { %>Utilisateur<%} %> : <%=global.user.firstname%> <%=global.user.lastname%>
        </button>
      </div>
      <div class="dropdown d-inline-block">

        <button type="button" class="btn header-item user text-start d-flex align-items-center" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img class="rounded-circle header-profile-user" src="/assets/images/users/avatar-1.jpg" alt="Header Avatar">
        </button>
        <div class="dropdown-menu dropdown-menu-end pt-0">
          <a class="dropdown-item" href="/logout"><i class='bx bx-log-out text-muted font-size-18 align-middle me-1'></i> <span class="align-middle">Logout</span></a>
        </div>
      </div>
    </div>
  </div>
</header>
